<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancel booking</title>
</head>
<body>
    <h1>Cancel booking: </h1><br>
    <form action="#" th:action="@{/cancel}" th:object="${unbookModel}" method="post">
        <label for="ticketId">Ticket id:</label>
        <input type="number" id="ticketId" th:field="*{ticketId}" required><br>
        <label for="userId">User id: </label>
        <input type="number" id="userId" th:field="*{userId}" required><br>
        <button>Unbook</button>
    </form>
</body>
</html>