<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>kz.zhanbolat.spring.entity.Ticket</value>
                <value>kz.zhanbolat.spring.loader.TicketContainer</value>
            </list>
        </property>
    </bean>

    <bean id="ticketXmlLoader" class="kz.zhanbolat.spring.loader.TicketXmlLoader"
          p:unmarshaller-ref="jaxb2Marshaller">
    </bean>

    <bean id="dataInitializeBeanPostProcessor" class="kz.zhanbolat.spring.processor.DataInitializeBeanPostProcessor">
        <constructor-arg>
            <map>
                <entry key="dataStorage" value="storage/test_data.properties"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="userMapper" class="kz.zhanbolat.spring.mapper.UserMapper">
    </bean>

    <bean id="eventMapper" class="kz.zhanbolat.spring.mapper.EventMapper">
    </bean>

    <bean id="ticketMapper" class="kz.zhanbolat.spring.mapper.TicketMapper">
    </bean>

    <bean id="dataStorage" class="kz.zhanbolat.spring.storage.DataStorage"
          p:userMapper-ref="userMapper"
          p:eventMapper-ref="eventMapper"
          p:ticketMapper-ref="ticketMapper">
    </bean>

    <bean id="userRepository" class="kz.zhanbolat.spring.repository.impl.UserRepositoryImpl"
          p:dataStorage-ref="dataStorage">
    </bean>

    <bean id="eventRepository" class="kz.zhanbolat.spring.repository.impl.EventRepositoryImpl"
          p:dataStorage-ref="dataStorage">
    </bean>

    <bean id="ticketRepository" class="kz.zhanbolat.spring.repository.impl.TicketRepositoryImpl"
          p:dataStorage-ref="dataStorage">
    </bean>

    <bean id="userService" class="kz.zhanbolat.spring.service.impl.UserServiceImpl" autowire="byType">
    </bean>

    <bean id="ticketService" class="kz.zhanbolat.spring.service.impl.TicketServiceImpl" autowire="byType">
    </bean>

    <bean id="eventService" class="kz.zhanbolat.spring.service.impl.EventServiceImpl" autowire="byType">
    </bean>

    <bean id="bookingFacade" class="kz.zhanbolat.spring.service.impl.BookingFacadeImpl"
          p:ticketLoader-ref="ticketXmlLoader">
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="ticketService" ref="ticketService"/>
        <constructor-arg name="eventService" ref="eventService"/>
    </bean>
</beans>